@charset "utf-8";

.fw {

    // ----------------------------------------------------------
    // Icons
    // ----------------------------------------------------------
    .a-icon {

        display: inline-block;
        vertical-align: middle;
        line-height: 1;

        &_notice {
            &:before {
                content: "！";
                display: block;
                font-family: $font_bold;
                background: $color_main;
                border-radius: 100%;
                color: #FFF;
                font-weight: bold;
                width: 24px; height: 24px;
                text-align: center;
                line-height: 24px;
                font-size: 16px;
            }
            &_w:before { background: #FFF; color: $color_main; }
        }

    }

    .a-icon_txt {
        display: inline-block;
        vertical-align: middle;
    }

    .a-icon + .a-icon_txt { margin-left: 10px; }

}//.fw
