@charset "utf-8";

.fw {

	min-width: 100%;
	overflow: hidden;
	font-family: $font_base;
	color : $color_text;
	font-size: $font-size_base + px;
	line-height: $line-height_base;

	background: $black0;
	-webkit-font-smoothing: antialiased;

	button {
		margin: 0;
		padding: 0;
		border: none;
		background: none;
		outline: none;
	    font-size: inherit;
	}

	.f-inner {
		max-width: $width_main + px;
		margin: 0 auto;
	}

}//.fw
