@charset "utf-8";

.fw #home {

    .lists_wrap {
        transition: opacity 0.2s ease;
        &.nav_show {
            opacity: 0.2;
            .lists { pointer-events: none; }
        }
    }

    .lists {
        padding: 0 0px 20px;

        .lists_notice {
            color: $color_main;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            padding-top: 20px;
        }

        .list {
            padding-top: 23px;

            .list_item {

                margin-top: 10px;
                &:first-child { margin-top: 0; }

                .list_item_btn {
                    background: #FFF;
                    // border-radius: 5px 4px 4px 4px;
                    // box-shadow: 0 0 5px 0 rgba(#000,0.1);
                    width: 100%; min-height: 120px;
                    text-align: left;
                    padding: 20px;
                    position: relative;
                    transition: background 0.2s ease;

                    &:before {
                        border-top-left-radius: 0;
                    }

                    &[data-user="own"] {
                        background: $color_main;
                        // background: linear-gradient(to bottom, #c43535 0%,$color_main 50%,#c41835 100%);
                        color: #FFF;
                        &[data-sim="true"] {
                            .m-device_ttl:after { background: #FFF; color: $color_main; }
                        }
                        &:before { background: #FFF; color: $color_main; }
                    }
                    &[data-user="other"] {
                        box-shadow: none;
                        // pointer-events: none;
                        // > * { opacity: 0.4; }
                        // &:before { opacity: 0.4; background: $black30; color: #FFF; }
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 100%; height: 100%;
                            top: 0; left: 0;
                            background: rgba(#000,0.3);
                        }
                    }

                    .notice {
                        position: absolute;
                        top: 50%; right: 20px;
                        transform: translate(0,-50%);
                    }

                }

            }

        }//.list

    }//.lists

}//.fw
