@charset "utf-8";

.fw {

    .lists {
        padding: 0 10px 20px;

        .list {
            margin-top: 23px;

            .list_item {

                margin-top: 10px;
                &:first-child { margin-top: 0; }

                .list_item_btn {
                    background: #FFF;
                    border-radius: 5px 4px 4px 4px;
                    box-shadow: 0 0 5px 0 rgba(#000,0.1);
                    width: 100%; min-height: 120px;
                    text-align: left;
                    padding: 20px;
                    position: relative;
                    transition: background 0.2s ease;

                    &[data-user="own"] {
                        background: $color_main;
                        color: #FFF;
                        &[data-sim="true"] {
                            .m-device_ttl:after { background: #FFF; color: $color_main; }
                        }
                        &:before { background: #FFF; color: $color_main; }
                    }
                    &[data-user="other"] {
                        box-shadow: none;
                        > * { opacity: 0.4; }
                        &:before { opacity: 0.4; }
                    }

                }

            }

        }//.list

    }//.lists

}//.fw
